section {
    overflow: hidden;

    h3 {
        display: block;
        font-size: 6rem;
        margin-bottom: 2.4rem;
    }
}
.main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: #fff;
    > div {
        width: 20%;
        position: absolute;
        &.main-left {
            left: 30%;
            bottom: 15%;
        }
        &.main-right {
            right: 30%;
            top: 15%;
        }
        > img {
            width: 100%;
            display: block;
        }
    }
    h1 {
        width: 100%;
        font-size: 20rem;
        font-weight: 700;
        color: #fb8500;
        letter-spacing: -1rem;
        position: relative;
        line-height: 1;

        &:first-of-type {
            // top: 35%;
            right: -100%;
            // transform: translateY(-50%);
            text-align: right;
        }
        &:last-of-type {
            left: -100%;
            // bottom: 35%;
            // transform: translateY(50%);
        }
    }
}

.info-section {
    > div {
        max-width: 140rem;
        margin: 0 auto;
        margin-bottom: 8rem;
        
        &.fnc-area {
            gap: 4rem;
            align-items: center;
        }

        &.only-txt {
            h3 {
                margin-bottom: 4rem;
            }
        }
    }

    p {
        font-size: 2.4rem;
    }

    img {
        width: 100%;
        display: block;
    }

    .move-txt {
        position: relative;

        .feels {
            color: $orange;
            font-size: 15rem;
            font-weight: 700;
            white-space: nowrap;
            transition-duration: 200ms;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            letter-spacing: -.1rem;
    
            &.left {
                transform: skew(-200deg) scale(1.1) translateY(-50%);
            }
            &.right {
                transform: skew(200deg) scale(1.1) translateY(-50%);
            }
        }
    
        .run-man {
            width: 50%;
            margin: 0 auto;
        }
    }
}

.sub-section {
    height: 100vh;
    
    div {
        position: relative;
        max-width: 140rem;
        margin: 0 auto;
        top: 50%;
        transform: translateY(-50%);

        &.active {
            h4 {
                opacity: 1;
                &:first-child {
                    left: 25rem;
                }
                &:nth-child(2) {
                    text-align: right;
                    right: 25rem;
                }
                &:last-child {
                    left: 40rem;
                }
            }
        }

        h4 {
            font-size: 15rem;
            position: relative;
            transition-duration: 400ms;
            opacity: 0;

            &:first-child {
                left: 0;
            }

            &:nth-child(2)  {
                right:0;
                text-align: right;
            }

            &:last-child {
                left: 15rem;
                color: $orange;
            }
        }
    }
}

$class: (
    'call',
    'setting',
    'tap'
);

.sub-section2 {
    max-width: 140rem;
    margin: 0 auto 24rem;
    h3 {
        margin-bottom: 8rem;
    }
    > div {
        display: flex;
        flex-direction: row;
        gap: 4rem;

        > div {
            display: flex;
            flex-direction: column;
            gap: 2.4rem;
            
            > div {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 15rem;
                height: 15rem;
                border-radius: 50%;
                background-color: #eee;
                margin: 0 auto;
                > span {
                    @include hideElement;
                }
                @each $cls, $icon in $class {
                    &.#{$cls} {
                        &::before {
                            content: '';
                            width: 4rem;
                            height: 4rem;
                            display: block;
                            background-image: url($url-img + '#{$cls}.png');
                            background-repeat: no-repeat;
                            background-size: cover;
                        }
                    }
                }
            }

            > strong {
                font-size: 4rem;
            }
        }
    }
}

.sell-section {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    max-width: 140rem;
    margin: 0 auto;
    padding-bottom : 10rem;
    .sell-img {
        width: 60%;

        img {
            width: 100%;
            display: block;
            position: absolute;
            inset: 0;
            max-width: 100%;
            height: auto;
            // max-height: 100%;
        }

        .swiper-slide {
            height: 60rem;
        }

        .swiper-button-prev,
        .swiper-button-next {
            color: $orange;
        }
        .swiper-pagination-bullet-active {
            background: $orange;
        }
    }
    .sell-info {
        display: flex;
        flex-direction: column;
        width: 40%;
        h2 {
            font-size: 4rem;
            padding-bottom: 2.4rem;
            margin-bottom: 2.4rem;
            border-bottom: .1rem solid $black;
        }
        em {
            display: block;
            font-style: normal;
            font-size: 2.4rem;
            font-weight: 700;
            margin-bottom: 2.4rem;
        }
        
        ul {
            display: flex;
            flex-direction: row;
            gap: 3rem;
            margin-top: 1.6rem;

            button {
                width: 2.4rem;
                height: 2.4rem;
                border-radius: 50%;
                background-color: $Diamond;
                font-size: 0;

                &.active {
                    position: relative;
                    &::before {
                        content: '';
                        width: 3.2rem;
                        height: 3.2rem;
                        border-radius: 50%;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        border: .1rem solid $black;
                    }
                }
            }
            
            li {
                &:nth-child(2) > button {
                    background-color: $blue;
                }
                &:nth-child(3) > button {
                    background-color: $dark;
                }
                &:nth-child(4) > button {
                    background-color: $smoke;
                }
                
            }
        }

        .cart-btn {
            margin-top: auto;
            display: flex;
            flex-direction: row;
            gap: 2.4rem;
            > button {
                &.add-to-cart {
                    flex: 1;
                }
                &.add-to-hart {
                    width: 6rem;
                    overflow: hidden;
                    font-size: 0;
                    &::before {
                        content: '';
                        display: block;
                        width: 2.4rem;
                        height: 2.4rem;
                        background-image: url($url-img + 'heart.svg');
                        background-repeat: no-repeat;
                        background-size: cover;
                        margin: auto;
                    }
                }
            }
        }
    }
}